
<!DOCTYPE html>
  <html>
    <head>
      <meta http-equiv="Content-type" content="text/html; charset=utf-8">

      <link rel="stylesheet" href="css/material.green-light_green.min.css" />
      <link rel="stylesheet" href="css/geral.css" />
      <link rel="stylesheet" href="css/inicialnovo.css" />
         <link rel="stylesheet" href="css/menu.css" />
      <link rel="stylesheet" href="css/icon.css">
      <script src="material/material.min.js"></script>
      <script src="js/angular.min.js"></script>
      <script type="application/javascript" src="lib/jquery.min.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css" >

<!-- Optional theme -->
<link rel="stylesheet" href="css/bootstrap-theme.min.css" >

<!-- Latest compiled and minified JavaScript -->
<script src="js/bootstrap.min.js" ></script>
       

      

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">

      <script>
//$(document).ready(function(){
  
//});
 
 var lineChart = function () {
   
     var usuario = localStorage.login;
 $.ajax({
              url: "http://www.professornilson.com/mobile/Token/retornaqtdpontosatividade.php",
              type: "post",
              data: { 
                id: usuario
              },success: function (dados) {
                var arraydados = dados.split(":");
               var notas = arraydados[0].split(',');
               var datas = arraydados[1].split(',');
               var dado = notas.map(Number);

                 var data = {
              labels : datas,
                datasets : [
                     {
                        fillColor : "rgba(151,187,205,0.5)",
                        strokeColor : "rgba(151,187,205,1)",
                        pointColor : "rgba(151,187,205,1)",
                        pointStrokeColor : "#fff",
                        data : dado
            
                     }
               ]
    };

    var ctx = document.getElementById("lineChart").getContext("2d");
    new Chart(ctx).Line(data,{
  responsive: true
 
        });
              },error: function(dados){
                 console.log(dados); 
                 lineChart();
              }     


          });
    //legend(document.getElementById("lineLegend"), data);
}


     var app = angular.module('myApp', []);
     app.controller('customersCtrl', function ($scope, $http) {
     $scope.myData = JSON.parse(localStorage.objetos);
     $scope.reticencias = ' ...';
     $scope.words = window.location.href;
     $scope.idurl = $scope.words.split("id=");










//LISTA AS NOTIFICACOES DO USUARIO
     var listar = function () {
            var usuario = localStorage.login;
            $scope.mostrar = true;
            $http.get('http://professornilson.com/mobile/restDAO/notificacao/loadUsuario/' + usuario).success(function (dados) {
                localStorage.objetos = JSON.stringify(dados);
                $scope.myData = dados;
                lineChart();
                $scope.mostrar = false;
              
            }).error(function (dados) {
                console.log(dados);
                listar();
            });

       
           


        };

var pesquisarQtdOuro = function () {
  var usuario = localStorage.login;
    $.ajax({
              url: "http://www.professornilson.com/mobile/Token/retornaqtdouro.php",
              type: "post",
              data: { 
                id: usuario
              },success: function (dados) {
                localStorage.qtdouro = JSON.stringify(dados);
                $scope.qtdOuro = dados;
              },error: function(response){
                 console.log(response); 
              }     


          });
      

      
    }  



    var pesquisarRecompensa = function () {
      var usuario = localStorage.login;
    $.ajax({
              url: "http://www.professornilson.com/mobile/Token/retornaqtdprata.php",
              type: "post",
              data: { 
                id: usuario
              },success: function (dados) {
                //localStorage.qtdPrata = JSON.stringify(dados);
                $scope.recompensas =  dados.split(","); 
                localStorage.recompensa = JSON.stringify($scope.recompensas);  
               
              },error: function(response){
                 console.log(response); 
                 pesquisarRecompensa();
              }     


          });
      

      
    } 

     var pesquisarQtdBronze = function () {
      var usuario = localStorage.login;
    $.ajax({
              url: "http://www.professornilson.com/mobile/Token/retornaqtdbronze.php",
              type: "post",
              data: { 
                id: usuario
              },success: function (dados) {
                localStorage.qtdBronze = JSON.stringify(dados);
                $scope.qtdBronze = dados;
              },error: function(response){
                 console.log(response); 
              }     


          });
      

      
    } 

     var pesquisarPontos = function () {
      var usuario = localStorage.login;
    $.ajax({
              url: "http://www.professornilson.com/mobile/Token/somatoriopontos.php",
              type: "post",
              data: { 
                id: usuario
              },success: function (dados) {
                localStorage.qtdPontos = JSON.stringify(dados);
                $scope.qtdPontos = dados;
              },error: function(response){
                 console.log(response); 
              }     


          });
      

      
    } 





lineChart();
//pesquisarQtdPrata();
//pesquisarQtdBronze();
//pesquisarPontos();


//LISTA OS FEEDBACKS DO USUARIO
    var listarfeedback = function () {


            var usuario = localStorage.login;
           $scope.mostrar = true;
            $http.get('http://www.professornilson.com/mobile/restDAO/feedback/loadUsuario/' + usuario).success(function (dados) {
                $scope.myDatafeedback = dados;
                localStorage.feedback = JSON.stringify(dados);
                 lineChart();
                $scope.mostrar = false;
            }).error(function (dados) {
                console.log(dados);
                listarfeedback();
            });



        };

var listarConteudo = function () {
            var usuario = localStorage.login;
         
            $http.get('http://professornilson.com/mobile/restDAO/notificacao/loadUsuario/' + usuario).success(function (dados) {
                $scope.myData = dados;
            }).error(function (dados) {
                console.log(2);
            });

       
           


        };

    var pesquisarProfessor = function (professor) {
            //$scope.mostrar = true;
            $http.get('http://professornilson.com/mobile/restDAO/usuario/load/' + professor).success(function (dados) {
                $scope.myProfessor = dados;
                //$scope.mostrar = false;

            }).error(function (dados) {
                console.log(2);
            });
        };


  
//LISTA AS DISCIPLINAS DO USUARIO PARA SEREM EXIBIDAS NO MENU
    var pesquisarDisciplina = function () {
      var usuario = localStorage.login;
            //$scope.mostrar = true;
            $http.get('http://professornilson.com/mobile/restDAO/disciplina/loadDisciplinaAluno/' + usuario).success(function (dados) {
                $scope.myDisciplina = dados;
                //$scope.mostrar = false;
                localStorage.disciplina = JSON.stringify(dados);
            }).error(function (dados) {
                console.log(dados);
                pesquisarDisciplina();
            });
        };


     var pesquisarQtdBadge = function () {
     //$scope.myData = JSON.parse(localStorage.objetos);
     $.ajax({
              url: "http://www.professornilson.com/mobile/Token/retornaqtdnotificacaonaolida.php",
              type: "post",
              data: { 
                idaluno: localStorage.login
              },success: function (response) {
                  $scope.qtdnotificacao =  response.split(","); 
                  localStorage.qtdnotificacao = JSON.stringify($scope.qtdnotificacao);
                             
              },error: function(response){
                 console.log(response); 
                 pesquisarQtdBadge();
              }     


          });

      
    }  
   var pesquisarNome = function () {
    var usuario = localStorage.login;
    var nomeReduzido;
            //$scope.mostrar = true;
            $http.get('http://professornilson.com/mobile/restDAO/aluno/load/' + usuario).success(function (dados) {
            $scope.myName = dados;

            }).error(function (dados) {
                console.log(2);
            });
        };


     
      pesquisarQtdBadge();
     

//INICIACAO 'UNICA DE QUANDO O USUARIO ENTRA NO SISTEMA'
    if (localStorage.objetos == 'null' || localStorage.objetos == null) {
          listar();
    } else {
        $scope.myData = JSON.parse(localStorage.objetos);
    }

     if (localStorage.feedback == 'null' || localStorage.feedback == null ) {
          listarfeedback();
    } else {
        $scope.myFeedback = JSON.parse(localStorage.feedback);
    }


    if (localStorage.disciplina == 'null' || localStorage.disciplina == null) {
        pesquisarDisciplina();
    } else {
        $scope.myDisciplina = JSON.parse(localStorage.disciplina);
    }

    //  if (localStorage.qtdouro == 'null' || localStorage.qtdouro == null) {
    //     pesquisarQtdOuro();
    // } else {
    //     $scope.qtdOuro = JSON.parse(localStorage.qtdouro);
    // }

      if (localStorage.recompensas == 'null' || localStorage.recompensa == null) {
        pesquisarRecompensa();
    } else {
        $scope.recompensas = JSON.parse(localStorage.recompensa);
    }

    //   if (localStorage.qtdBronze == 'null' || localStorage.qtdBronze == null) {
    //     pesquisarQtdBronze();
    // } else {
    //     $scope.qtdBronze = JSON.parse(localStorage.qtdBronze);
    // }

    // if (localStorage.qtdPontos == 'null' || localStorage.qtdPontos == null) {
    //     pesquisarPontos();
    // } else {
    //     $scope.qtdPontos = JSON.parse(localStorage.qtdPontos);
    // }

        if (localStorage.qtdnotificacao == 'null' || localStorage.qtdnotificacao == null) {
        pesquisarQtdBadge();
    } else {
        $scope.qtdnotificacao = JSON.parse(localStorage.qtdnotificacao);
    }


//REALIZA A ATUALIZACAO DE INFORMACOES DAS NOTIFICACOES, DOS FEEDBACKS E DAS DISCIPLINAS DO USUARIO
    $scope.atualizar = function () {
       $scope.mostrar = true;
        var usuario = localStorage.login;
        // var xhr = new XMLHttpRequest();
        // var file = 'http://www.professornilson.com/mobile/restDAO/feedback/loadUsuario/' + usuario;
        // var r = Math.round(Math.random() * 10000);
        // xhr.open('HEAD', file + "?subins=" + r, false);
         try {
        //     xhr.send();
        //     if (xhr.status >= 200 && xhr.status < 304) {
            	pesquisarQtdBadge();
            	pesquisarDisciplina();
                //pesquisarQtdOuro();
                pesquisarRecompensa();
                //pesquisarQtdBronze();
                //pesquisarPontos();
                listarfeedback();
                listar();
                
                
            // } else {
            //     alert("Internet está inativa");
            // }
        } catch (e) {
            alert("Internet está inativa");
        }

 
       $scope.mostrar = false;


    }

     $scope.fechardialog = function(){
                dialog.close();

        }

    $scope.atualizarFeedback = function () {
        if (localStorage.feedback == null || localStorage.feedback == 'null') {
            listarfeedback();
        } else {
            $scope.myDatafeedback = JSON.parse(localStorage.feedback);
            lineChart();
        }

    }

     $scope.atualizarObjetos = function () {
        if (localStorage.objetos == null || localStorage.objetos == 'null') {
            listar();
        } else {
            $scope.myData = JSON.parse(localStorage.objetos);
            lineChart();
        }

    }

    $scope.sair = function () {

        localStorage.login = 0;
        window.location = "index.html";
    }

     $scope.avaliarFeedback = function (id,retorno) {

        $.ajax({
              url: "http://www.professornilson.com/mobile/Token/avaliarFeedback.php",
              type: "post",
              data: { 
                id: id,
                retorno:retorno,
                idaluno:localStorage.login
              },success: function (response) {
                listarfeedback();
                pesquisarQtdBadge();
                         
              },error: function(response){
                 console.log(response); 
              }     


          });
    }




    


     $scope.avaliarConteudo = function (id,retorno) {

        $.ajax({
              url: "http://www.professornilson.com/mobile/Token/avaliarConteudo.php",
              type: "post",
              data: { 
                id: id,
                retorno:retorno,
                idaluno:localStorage.login
              },success: function (response) {
              listarConteudo();
                         
              },error: function(response){
                 console.log(response); 
              }     


          });
    }


   


});

$(function () {
   $('.panel-google-plus > .panel-footer > .input-placeholder, .panel-google-plus > .panel-google-plus-comment > .panel-google-plus-textarea > button[type="reset"]').on('click', function(event) {
        var $panel = $(this).closest('.panel-google-plus');
            $comment = $panel.find('.panel-google-plus-comment');
            
        $comment.find('.btn:first-child').addClass('disabled');
        $comment.find('textarea').val('');
        
        $panel.toggleClass('panel-google-plus-show-comment');
        
        if ($panel.hasClass('panel-google-plus-show-comment')) {
            $comment.find('textarea').focus();
        }
   });
   $('.panel-google-plus-comment > .panel-google-plus-textarea > textarea').on('keyup', function(event) {
        var $comment = $(this).closest('.panel-google-plus-comment');
        
        $comment.find('button[type="submit"]').addClass('disabled');
        if ($(this).val().length >= 1) {
            $comment.find('button[type="submit"]').removeClass('disabled');
        }
   });
});

        </script> 
<style type="text/css">
a:link, a:visited {
  text-decoration: none
  }
a:hover {
  text-decoration: none; 
  color: #f00
  }
a:active {
  text-decoration: none
  }
.shape{    
  border-style: solid; border-width: 0 70px 40px 0; float:right; height: 0px; width: 0px;
  -ms-transform:rotate(360deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(360deg); /* Safari and Chrome */
  transform:rotate(360deg);
}
.offer{
  background:#fff; border:1px solid #ddd; box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); margin: 15px 0; overflow:hidden;
}
.offer:hover {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1); 
    -ms-transform: scale(1.1); 
    -o-transform: scale(1.1); 
    transform:rotate scale(1.1); 
    -webkit-transition: all 0.4s ease-in-out; 
-moz-transition: all 0.4s ease-in-out; 
-o-transition: all 0.4s ease-in-out;
transition: all 0.4s ease-in-out;
    }
.shape {
  border-color: rgba(255,255,255,0) #d9534f rgba(255,255,255,0) rgba(255,255,255,0);
}
.offer-radius{
  border-radius:7px;
}
.offer-danger { border-color: #d9534f; }
.offer-danger .shape{
  border-color: transparent #d9534f transparent transparent;
}
.offer-success {  border-color: #5cb85c; }
.offer-success .shape{
  border-color: transparent #5cb85c transparent transparent;
}
.offer-default {  border-color: #999999; }
.offer-default .shape{
  border-color: transparent #999999 transparent transparent;
}
.offer-primary {  border-color: #428bca; }
.offer-primary .shape{
  border-color: transparent #428bca transparent transparent;
}
.offer-info { border-color: #5bc0de; }
.offer-info .shape{
  border-color: transparent #5bc0de transparent transparent;
}
.offer-warning {  border-color: #f0ad4e; }
.offer-warning .shape{
  border-color: transparent #f0ad4e transparent transparent;
}

.shape-text{
  color:#fff; font-size:12px; font-weight:bold; position:relative; right:-40px; top:2px; white-space: nowrap;
  -ms-transform:rotate(30deg); /* IE 9 */
  -o-transform: rotate(360deg);  /* Opera 10.5 */
  -webkit-transform:rotate(30deg); /* Safari and Chrome */
  transform:rotate(30deg);
} 
.offer-content{
  padding:0 10px 10px;
}
@media (min-width: 487px) {
  .container {
    max-width: 750px;
  }
  .col-sm-6 {
    width: 50%;
  }
}
@media (min-width: 900px) {
  .container {
    max-width: 970px;
  }
  .col-md-4 {
    width: 33.33333333333333%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
  .col-lg-3 {
    width: 25%;
  }
  }
}

html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 60px; /* bottom has to be the same as footer height */
}
footer {
    /* just for demo */
    background-color: rgb(76,175,80);
    border-top: 1px solid #E7E7E7;
    text-align:center;
    padding:20px;
   /* just for demo */ 
  
    position: fixed;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
}


</style>

    </head>

    <body ng-app="myApp" ng-controller="customersCtrl">

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer
      mdl-layout--fixed-header" >
  <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header
            mdl-layout--fixed-tabs ">
  <header class="mdl-layout__header ">
  <div class="mdl-layout__header-row md-light" style="  padding-left: 50px;">
    <div class="mdl-layout-spacer"></div>
    
     <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <label >
    <p style="color:white; font-size: 11px;padding-top: 20px"> Ranking : 
    <label style="padding-top: 5px" ng-bind="recompensas[3]+' ponto(s)'"> </p>
    </label>

    </div>
    

     <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <img src="img/trofeubronze.gif" class="img-responsive .img-circle" width="30px" height="20px" style="
    padding-top: 5px;    width: 30px;">    

    </div>
    <div class="mdl-layout-title md-light">
      <span class="badge" ><label style="padding-top: 5px" ng-bind="recompensas[2]"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <img src="img/trofeuprata.gif" class="img-responsive .img-circle" width="30px" height="20px" style="
    padding-top: 5px;    width: 30px;">    

    </div>
    <div class="mdl-layout-title md-light">
      <span class="badge" ><label style="padding-top: 5px" ng-bind="recompensas[1]"></span>
    </div>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
    <img src="img/trofeuouro.PNG" class="img-responsive .img-circle" width="30px" height="20px" style="
    padding-top: 5px;    width: 30px;">    

    </div>
    <div class="mdl-layout-title md-light">
      <span class="badge" ><label style="padding-top: 5px" ng-bind="recompensas[0]"></span>
    </div>

  </div>
       
  </header>
  <header class="mdl-layout__header ">
  <div class="mdl-layout__header-row md-light">
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-layout-spacer"><span class="mdl-layout-title md-light"></span></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable
          mdl-textfield--floating-label mdl-textfield--align-right" >
    <label class="mdl-button mdl-js-button mdl-button--icon"
         for="fixed-header-drawer-exp">
      <i class="material-icons md-light">search</i>
    </label>
    
    <div class="mdl-textfield__expandable-holder">
      <input class="mdl-textfield__input" type="text" name="sample" ng-model="pesquisar" style="color:white" 
         id="fixed-header-drawer-exp">
    </div>
    </div>
  </div>
        <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#fixed-tab-1" class="mdl-layout__tab is-active" ng-click="atualizarObjetos();"><p style="color:white; font-size: 13px">Conteúdos <span class="badge" style=" height: 21px;" ng-show="qtdnotificacao[0] > 0"><label ng-bind="qtdnotificacao[0]"></label></span>  </span></p></a>
      <a href="#fixed-tab-2"  ng-click="atualizarFeedback();"class="mdl-layout__tab" ><p style="color:white; font-size: 13px">Feedbacks <span class="badge" style="height: 21px;" ng-show="qtdnotificacao[1] > 0"><label ng-bind="qtdnotificacao[1]"></label></span>  </span> </p></a>
      <a href="" ng-click="atualizar();" class="mdl-layout__tab"><i class="material-icons md-light">cached</i></a>

    </div> 
  </header>
  
  
 
 <dialog id="dialog" class="mdl-dialog">

          <div class="mdl-dialog__content">
             <p>
               Internet Indisponível
             </p>
          </div>
          <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button" ng-click="fechardialog();">Fechar</button>
          </div>
         </dialog> 
  
  
  
  <div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Menu</span>
  <nav class="mdl-navigation">
    <div class="sidebar-overlay"></div>

<!-- Material sidebar -->
<aside id="sidebar" class="sidebar sidebar-default open" role="navigation">
    <!-- Sidebar header -->
    <div class="sidebar-header header-cover" style="background-image: url(http://png.clipart.me/previews/1e6/abstract-green-design-background-vector-21736.jpg);">
        <!-- Top bar -->
        <div class="top-bar"></div>
        <!-- Sidebar toggle button -->
        <button type="button" class="sidebar-toggle">
            <i class="icon-material-sidebar-arrow"></i>
        </button>
        <!-- Sidebar brand image -->
        <div class="sidebar-image">
            <img src="https://image.freepik.com/free-icon/black-male-user-symbol_318-60703.jpg">
        </div>
        <!-- Sidebar brand name -->
        <a data-toggle="dropdown" class="sidebar-brand" >
           
            <b class="caret"></b>
        </a>
    </div>

    <!-- Sidebar navigation -->
    <ul class="nav sidebar-nav">
        <li class="dropdown">
            
        </li>
        
        <li class="divider"></li>
        

         <!-- Sidebar Disciplina -->
        <li class="dropdown">
            <a class="ripple-effect dropdown-toggle" href="#" data-toggle="dropdown">
                <i class="sidebar-icon md-drafts"></i>
               Disciplinas
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li >
                    <a href="inicialnovo.html" tabindex="-1">
                        Todas as Disciplinas
                        
                    </a>
                </li>
                <li ng-repeat="x in myDisciplina">
                    <a href="inicialnovo.html?id={{x.iddisciplina}}" tabindex="-1">
                        {{x.descricaodisciplina}}
                        <span class="sidebar-badge">{{x.qtd}}</span>
                    </a>
                </li>
                
            </ul>
        </li>

        <li>
            <a href="ranking.html" >
                <i class="sidebar-icon md-drafts"></i>
                Ranking de Pontuação
            </a>
        </li>
        <li>
            <a href="graficos.html" >
                <i class="sidebar-icon md-drafts"></i>
                Minhas Estatísticas
            </a>
        </li>
         <li>
            <a href="" ng-click="sair();">
                <i class="sidebar-icon md-drafts"></i>
                Sair
            </a>
        </li>
        
    </ul>
    <!-- Sidebar divider -->
    <!-- <div class="sidebar-divider"></div> -->
    
    <!-- Sidebar text -->
    <!--  <div class="sidebar-text">Text</div> -->
</aside>


  </nav>
  </div>

<!--INICIO CODIGO CONTEUDOS-->
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="fixed-tab-1">
      <div class="page-content">
     

  <div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active "  style="
    left: 45%;
    top: 25%;" ng-show="mostrar"></div>

 
 <main class="mdl-layout__content" ng-show="!mostrar" >  
 
<br>
<div class="container" ng-repeat="x in myData | filter:{iddisciplina:idurl[1]} | filter:{descricao:pesquisar}  ">
    <div class="row">

        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
          
              <!--  <div class="dropdown">

                    <span class="dropdown-toggle" type="button" data-toggle="dropdown">

                        <span class="[ glyphicon glyphicon-chevron-down ]"></span>
                    </span>
                    <ul class="dropdown-menu" role="menu">
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Another action</a></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Something else here</a></li>
                        <li role="presentation" class="divider"></li>
                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Separated link</a></li>
                    </ul>
                </div>-->
                
                <div class="panel-heading" style="background-color: white" >
                <div class="shape" ng-show="x.visualizada == '0'">
                       <div class="shape-text" >
                           new                
                       </div>
                   </div>
                    <img class="[ img-circle pull-left ]" ng-src="{{x.urlusuario}}" style="width: 20%" height="20%" />
                    <h5><strong>Prof: <label ng-bind="x.usuarioIdusuario"></label></strong></h5>
                    <h3><span> postado em {{x.data}}</span> </h3>
                   <h5 ><strong><label ng-bind="x.titulonotificacao"></label></strong></h5>
                </div>
                <div class="panel-body" >
                
                   <a href="notificacao.html?id={{x.idnotificacao}}" style="color:gray " ><p style=" text-align:justify; " ng-bind="(x.descricao | limitTo:300)+(reticencias) " ng-show="{{x.titulonotificacao != 'Gráfico'}}"></p>
                <div>
                   
                <div class="panel-body" >

                    <a href="notificacao.html?id={{x.idnotificacao}}" style="color:gray " ><img class="img-responsive" ng-src="{{x.urlimagem}}"  ng-show="{{x.urlimagem != null}}"></a>
                    <div ng-show="{{x.titulonotificacao == 'Gráfico'}}">
                        <canvas id="lineChart"  style="width: 600px; height: 400px;"></canvas>
                        <div id="lineLegend" ></div>
                    </div>
                </div>

                


               


                
                <div class="panel-footer">
                    <button type="button" ng-class="x.opiniao==1 ? 'btn btn-danger' : 'btn btn-default'"  ng-click="avaliarConteudo(x.idnotificacao,1);">
                         <i class="material-icons" style="font-size: 15px">thumb_down</i>
                    </button>
                    <button type="button" ng-class="x.opiniao==2 ? 'btn btn-success' : 'btn btn-default'"  ng-click="avaliarConteudo(x.idnotificacao,2);">
                        <i class="material-icons" style="font-size: 15px">thumb_up</i>
                    </button>
                  
                </div>
                
            </div>
        </div>
        
    
</div>
  
    </main>
 

    </div>
    </section>
    <!--FIM CODIGO CONTEUDOS-->


    <!--INICIO CODIGO FEEDBACK-->
    <section class="mdl-layout__tab-panel" id="fixed-tab-2">
      <div class="page-content">    

  

 
  
<br>
<div class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active "  style="
    left: 45%;
    top: 25%;" ng-show="mostrar"></div>
<div class="container" ng-repeat="x in myDatafeedback | filter:{descricao:pesquisar}" ng-show="!mostrar">
    <div class="row">

        <div class="[ col-xs-12 col-sm-offset-1 col-sm-5 ]">
            <div class="[ panel panel-default ] panel-google-plus">
                
                <div class="panel-heading" style="background-color: white">
                 <div class="shape" ng-show="x.visualizada == '0'">
                       <div class="shape-text" >
                           new                
                       </div>
                   </div>
                    <img class="[ img-circle pull-left ]" ng-src="{{x.urlusuario}}" style="width: 20%" height="20%" />
                    <h5><strong>Prof: <label ng-bind="x.nomeusuario"></label></strong></h5>
                    <h3><span> feedback postado em {{x.data}}</span> </h3>
                   <h5 ><strong><label ng-bind="x.titulo"></label></strong></h5>
                </div>
                <div class="panel-body">

                   <a  style="color:gray " ><p style=" text-align:justify; " ng-bind="(x.descricao ) " ></p></a>
                   <div class="panel-body">

                    <img class="img-responsive" ng-src="{{x.urlimagem}}"  ng-show="{{x.urlimagem != null}}">
                    
                </div>
                </div>
                 
                <div class="panel-footer">
                    <button type="button" ng-class="x.visualizada==1 ? 'btn btn-danger' : 'btn btn-default'"  ng-click="avaliarFeedback(x.idfeedback,1);">
                         <i class="material-icons" style="font-size: 15px">thumb_down</i>
                    </button>
                    <button type="button" ng-class="x.visualizada==2 ? 'btn btn-success' : 'btn btn-default'"  ng-click="avaliarFeedback(x.idfeedback,2);">
                        <i class="material-icons" style="font-size: 15px">thumb_up</i>
                    </button>
                  
                </div>   
                    
            </div>
        </div>
        
    
</div>


 <dialog id="dialog" class="mdl-dialog">

          <div class="mdl-dialog__content">
             <p>
               Login ou Senha Inválidos
             </p>
          </div>
          <div class="mdl-dialog__actions">
              <button type="button" class="mdl-button" ng-click="fechardialog();">Fechar</button>
          </div>
         </dialog>

  </div>
    
    
    </div></div>
    </section>

    <!--FIM CODIGO FEEDBACK-->
    <section class="mdl-layout__tab-panel" id="fixed-tab-3">
      <div class="page-content"><!-- Your content goes here --></div>
    </section>
  </main>
</div>
  
  
  
  
</div>
  
  
  


   


      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
     
       <script type="text/javascript" src="cordova.js"></script>
      <script type="text/javascript" src="js/index.js"></script>
      <link href="css/demo.css" rel="stylesheet" type="text/css">
<script src="vendor/Chart.js"></script>
<script src="js/legend.js"></script>
<script src="js/demo.js"></script>
</body>
  </html>
        